<h1> 10 closest stations within 6 miles </h1>

<% @presenter.fuel_stations.each do |station| %>
  <div class="station">
    <p class="name">Name: <%= station.name %></p>
    <p class="address"> Address: <%= station.address %></p>
    <p class="fuel_types">Fuel Types: <%= station.fuel_types %></p>
    <p class="distance">Distance: <%= station.distance %> miles</p>
    <P class="access_times">Access Times: <%= station.access_times %></p>
  </div>
<% end %>
